/* ! important - button id use it to change the color
#andrea{
background-color: red!important
}
*/

@font-face {


  font-family: tokyoRegular;
  src: url(./TTF/TokyoRegular-Regular.ttf);


}


body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  /* font-family: tokyoRegular; */
  color: white;
  background-color: white;
 
}

#sideName{
  
  float: left;
  width: 100px;
  height: 420px;
  padding: 0;
  position: fixed;
  
}
/* Side Name */

.brand-heading{
  position: fixed;
  left: -4px;
  top: 312px;
  /* margin-top: 270px; */
 
 }

 /* Contact Me Containers */

#leftside {

  color: black;
  width: 580px;
  height: 600px;
  padding-top: 130px;
  
}

#rightside{
  color: black;
  width: 580px;
  height: 600px;
  padding-top: 130px;
  padding-left: 130px;
  padding-right: 130px;
 

}

/* Home Center text */

.intro-text {
  font-size: 50px;
  
}
.introIMG {
  position: relative;
  right: 170px;
  top: -20px;
}
.intro-bottom {
  opacity: 1;

}

html {
  width: 100%;
  height: 100%;
}
/* ABOUT ME */

.aboutMe {
  color: black;
  margin: 0px;
  padding-bottom: 25px;
  position: relative;
  left: 145px;
}

.aboutPara {
  width: 880px;
  height: 400px;
  position: relative;
  left: 70px ;
  margin: 0px;
  /* text-align: justify; */
  letter-spacing: -.3px;
}
.headshot {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  position: relative;
  top: -20px;
  right: -40px;
  float: left;
 
}
#aboutCont {

  width: 1010px;
  height: 500px;
  margin-right: 20px;
  margin-left: 50px;
}

#about-container {

  padding-top: 30px;
  width: 1010px;
  height: 500px;
  position: relative;
  right: 184px;

 
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}


h3 {
  color: black;
}





p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 10px;
  color: black;
  /* color: #a39999 !important; */

}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 15px;
    color: black;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgb(255, 214, 202);
}

a:focus, a:hover {
  text-decoration: none;
  color: rgb(255, 214, 202);
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* font-size: 40px; */
  text-transform: uppercase;
  border-bottom: 1px solid black ;
  background-color: white;
  word-spacing: 2cm;

}



#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: black;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: black;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#navLeft {
  position: sticky;
  left: 100px;
  

}

#mainNav .navbar-nav .nav-item:hover {
  /* color: fade(white, 80%); */
  /* outline: none; */
  /* background-color: transparent; */
  border-bottom: 3px solid black;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  /* outline: none; */
  /* background-color: transparent; */
  border-bottom: 3px solid black;
}

.navbar>.container {
  display:inline-block;
	float:none;
	margin:0 -130px;
  vertical-align:middle;
  

}



@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: white;
    
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black(255, 255, 255, 0.3);
    background: white;
 
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: black;
     /* // white */
  }
  .navbar-nav {
		float: none;
	}
}

/* About Me Header */
.masthead {
  display: table;
  width: 70%;
  height: auto;
  padding: 200px 0;
  /* padding-top: 100px; */
  text-align: center;
  color: whitesmoke;
  background: url("img/coffee1.jpg") no-repeat bottom center scroll;
 
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  margin-top: 30px;
}

/* Resume */

/* .masthead2 {
  display: table;
  width: 70%;
  height: auto;
  padding: 200px 0; */
  /* padding-top: 100px; */
  /* text-align: center;
  color: whitesmoke;
  background: url("img/desktop.jpg");
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  margin-top: 30px;
} */

#resume {
  display: table;
  width: 70%;
  height: auto;
  padding: 200px 0;
  /* padding-top: 100px; */
  text-align: center;
  color: whitesmoke;
  background: url("img/desktop.jpg")no-repeat bottom center scroll;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
}

#modalBtn {
  background-color: #e1b3ba;
  border-color: white;
}

.modal-title{
  color: black;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: none;
  color: #ddb5ba;
}

#closeBtn {
  color: #e1b3ba;
  border-color: #e1b3ba;
}
.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 20px;
}
.brand-heading {

  transform: rotate(270deg);
}

.masthead .intro-body {
  font-size: 18px;
}

/* contact form */


@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 50px;
  }
  .masthead .intro-body  {
    font-size: 22px;
  }
  .intro-text {

      font-size: 50px;
    
  }
  .brand-heading {
  transform: rotate(270deg);
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
  position: relative;
  top: 50px;
  right: 0px;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

/* contact info */

 .content-section {
   padding-top: 50px; 
   padding-bottom: 50px;
   /* used to be at 150px */
}

.download-section {
  color: white;
  background:  no-repeat center center scroll;
  background-color:white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* url("../img/header3.jpg") */
}

/* #map {
  width: 100%;
  height: 300px;
} */

@media (min-width: 992px) {
  .content-section {
    padding-top: 50px;
    padding-bottom: 50px;
    /* used to be at 200px */
  }
 
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid white;
  outline: none;
  background-color: white;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}





footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}


/* Contact Form */


* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}



/*---------------------------------------------*/

/* MODAL BUTTON */
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: white;
}

#gitCode {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #e9cdd1;
  color: white;
}
/*---------------------------------------------*/
/* h1,h2,h3,h4,h5,h6 {
	margin: 0px;
} */

/* p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
} */

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}





/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
/* .bg-contact2 { This is the background are 
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */

/* .container-contact2 { this is the background area of the container 
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219,21,99,0.8);
  background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
} */

/* .wrap-contact2 { background are of the container 
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
} */


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  /* font-family: Poppins-Bold; */
  font-size: 20px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 30px;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;
  background-color: rgb(255, 214, 202);
  /* font-family: Poppins-Regular; */
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(45deg, #f8a1be, #efd19f);
  background: -o-linear-gradient(45deg, #f8a1be, #efd19f);
  background: -moz-linear-gradient(45deg, #f8a1be, #efd19f);
  background: linear-gradient(45deg, #f8a1be, #efd19f);
}


/* #f8a1be, #ffb6b1, #efd19f */
.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #CF86A3;
  background: -webkit-linear-gradient(-135deg, #CF86A3, #f8a1be, #ffb6b1, #efd19f);
  background: -o-linear-gradient(-135deg, #CF86A3, #f8a1be, #ffb6b1, #efd19f);
  background: -moz-linear-gradient(-135deg, #CF86A3, #f8a1be, #ffb6b1, #efd19f);
  background: linear-gradient(-135deg,#CF86A3, #f8a1be, #ffb6b1, #efd19f);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

 

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: white;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* Portfolio Hover Boxes */
.portfolio-title {
  color: black
  /* color: #a39999 !important; */
}
.hvrbox * {
  box-sizing: border-box;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: transparent;
  border-color: transparent;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 40%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(153, 96, 131, 0.973);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: .7;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 20px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.social-media {

  width: 54px;
  height: 54px;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: transparent;
}

.btn-primary {
  border-color: #6c757d;
}

